*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: antiquewhite;
   
}

.bi{
    background-color: transparent;
    color: black;
}

.card-body{
    border: solid;
    
    
}


 